@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
body {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: #0000;
    margin: 0;
    
  }
.download-button {
    min-width: 40px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b82f6;
    color: white;
    padding: 16px 32px;
    border-radius: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.download-button:hover {
    transform: scale(1.01);
}

.download-button:active {
    transform: scale(0.99);
}

.button-content {
    display: flex;
    align-items: center;
}

.svg-container {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.download-icon,
.download-loader,
.check-svg {
    font-size: 18px;
}

.hidden {
    display: none !important;
}

.button-copy {
    font-size: 14px;
    display: inline-block;
}


